:root {
    --bg: #fff;
    --text: #222;
    --primary: #008cff; 
  }
  
  body.dark-mode {
    --bg: #222;
    --text: #fff;
    --primary: #fff;
  }
  
  /* Light Theme Styles */ 
  
  body {
    background-color: var(--bg);
    color: var(--text);
  }
  
  /* Toggle Switch Styles */

  .toggle {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;  
  }
  
  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* Slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }  


  body {
    background-color: var(--bg);
    color: var(--text);
  }
  
  button {
    background-color: var(--primary);
  }

  /* ++++++++++++++++++++++++++++++++ */
  * {
    background-color: var(--celeste);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    cursor: pointer;
    background-color: var(--fairy-tale);
    transition: background-color 0.3s ease;
    margin: 0.5%;
}

.btn:hover {
    background-color: var(--cerise);
}

.tremble {
    animation: tremble 0.5s infinite;
}

.cursor-change {
    cursor: url('cursor.cur'), auto;
}

.highlight {
    font-size: 1.1em;
    background: #de1e7eff;
    filter: url(#squiggly);
}

#buttonForm {
    display: flex;
    align-items: center;
}

#markerBtn {
    display: flex;
    /* Make the button a flex container */
    justify-content: center;
    /* Center content horizontally */
    align-items: center;
    /* Center content vertically */
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    font-size: 1rem;
    border: none;
    background-color: var(--yellow-green);
    transition: transform 0.3s ease-in-out;
}

#markerBtn:hover {
    transform: scale(1.1);
    /* On hover, scale the button to make it slightly larger */
    cursor: grab;
    /* Change the cursor to a grab on hover */
}

#markerBtn:active {
    /* On click, scale the button back down slightly for a "pressed" effect */
    transform: scale(0.95);
}

#emoji {
    background: transparent;
}

#newEmoji {
    background: transparent;
}

#markerBtn:hover #emoji {
    animation-play-state: running;
}

@keyframes tremble {

    0%,
    100% {
        transform: translateX(0);
    }

    25%,
    75% {
        transform: translateX(20%);
    }

    50% {
        transform: translateX(-20%);
    }
}

/* Dark Theme Media Query */

@media (prefers-color-scheme: dark) {
    body.dark-mode {
      --bg: #222;
      --text: #fff;
      --primary: #fff;
    }
  }
